<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="/assets/css/AcesUp.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Le styles -->
		<link
			href="/assets/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<!-- Optional theme -->
		<link
			rel="stylesheet"
			href="/assets/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css"
		/>
		<script
			type="text/javascript"
			src="/assets/webjars/jquery/2.1.3/jquery.js"
		></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2">
					<button id="dealButton">
						<img src="/assets/images/backbluepattern.gif" />
					</button>
					<br />
					<button id="Discard">
						<img src="/assets/images/backbluepattern.gif" />
					</button>
				</div>

				<div class="col-lg-2 col-md-2 col-sm-2">
					<table>
						<tr>
							<td class="columnOfCards" id="c0">
								<table>
									<tr>
										<td class="cardLocation l0"></td>
									</tr>
									<tr>
										<td class="cardLocation l1"></td>
									</tr>
									<tr>
										<td class="cardLocation l2"></td>
									</tr>
									<tr>
										<td class="cardLocation l3"></td>
									</tr>
									<tr>
										<td class="cardLocation l4"></td>
									</tr>
									<tr>
										<td class="cardLocation l5"></td>
									</tr>
									<tr>
										<td class="cardLocation l6"></td>
									</tr>
									<tr>
										<td class="cardLocation l7"></td>
									</tr>
									<tr>
										<td class="cardLocation l8"></td>
									</tr>
									<tr>
										<td class="cardLocation l9"></td>
									</tr>
									<tr>
										<td class="cardLocation l10"></td>
									</tr>
									<tr>
										<td class="cardLocation l11"></td>
									</tr>
									<tr>
										<td class="cardLocation l12"></td>
									</tr>
									<tr>
										<td class="cardLocation l13"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>

				<div class="col-lg-2 col-md-2 col-sm-2">
					<table>
						<tr>
							<td class="columnOfCards" id="c1">
								<table>
									<tr>
										<td class="cardLocation l0"></td>
									</tr>
									<tr>
										<td class="cardLocation l1"></td>
									</tr>
									<tr>
										<td class="cardLocation l2"></td>
									</tr>
									<tr>
										<td class="cardLocation l3"></td>
									</tr>
									<tr>
										<td class="cardLocation l4"></td>
									</tr>
									<tr>
										<td class="cardLocation l5"></td>
									</tr>
									<tr>
										<td class="cardLocation l6"></td>
									</tr>
									<tr>
										<td class="cardLocation l7"></td>
									</tr>
									<tr>
										<td class="cardLocation l8"></td>
									</tr>
									<tr>
										<td class="cardLocation l9"></td>
									</tr>
									<tr>
										<td class="cardLocation l10"></td>
									</tr>
									<tr>
										<td class="cardLocation l11"></td>
									</tr>
									<tr>
										<td class="cardLocation l12"></td>
									</tr>
									<tr>
										<td class="cardLocation l13"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>

				<div class="col-lg-2 col-md-2 col-sm-2">
					<table>
						<tr>
							<td class="columnOfCards" id="c2">
								<table>
									<tr>
										<td class="cardLocation l0"></td>
									</tr>
									<tr>
										<td class="cardLocation l1"></td>
									</tr>
									<tr>
										<td class="cardLocation l2"></td>
									</tr>
									<tr>
										<td class="cardLocation l3"></td>
									</tr>
									<tr>
										<td class="cardLocation l4"></td>
									</tr>
									<tr>
										<td class="cardLocation l5"></td>
									</tr>
									<tr>
										<td class="cardLocation l6"></td>
									</tr>
									<tr>
										<td class="cardLocation l7"></td>
									</tr>
									<tr>
										<td class="cardLocation l8"></td>
									</tr>
									<tr>
										<td class="cardLocation l9"></td>
									</tr>
									<tr>
										<td class="cardLocation l10"></td>
									</tr>
									<tr>
										<td class="cardLocation l11"></td>
									</tr>
									<tr>
										<td class="cardLocation l12"></td>
									</tr>
									<tr>
										<td class="cardLocation l13"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<table>
						<tr>
							<td class="columnOfCards" id="c3">
								<table>
									<tr>
										<td class="cardLocation l0"></td>
									</tr>
									<tr>
										<td class="cardLocation l1"></td>
									</tr>
									<tr>
										<td class="cardLocation l2"></td>
									</tr>
									<tr>
										<td class="cardLocation l3"></td>
									</tr>
									<tr>
										<td class="cardLocation l4"></td>
									</tr>
									<tr>
										<td class="cardLocation l5"></td>
									</tr>
									<tr>
										<td class="cardLocation l6"></td>
									</tr>
									<tr>
										<td class="cardLocation l7"></td>
									</tr>
									<tr>
										<td class="cardLocation l8"></td>
									</tr>
									<tr>
										<td class="cardLocation l9"></td>
									</tr>
									<tr>
										<td class="cardLocation l10"></td>
									</tr>
									<tr>
										<td class="cardLocation l11"></td>
									</tr>
									<tr>
										<td class="cardLocation l12"></td>
									</tr>
									<tr>
										<td class="cardLocation l13"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>

				<div class="col-lg-2 col-md-2 col-sm-2">
					<button type="undo" class="btn btn-secondary btn-lg btn-block">
						Undo
					</button>

					<button type="restart" class="btn btn-secondary btn-lg btn-block">
						Restart
					</button>

					<button type="exit" class="btn btn-secondary btn-lg btn-block">
						Exit
					</button>
				</div>
			</div>
		</div>
		<script>
			var game;

			function display(game) {
				console.log(game);

				$(".columnOfCards .cardLocation").html("");

				$.each(game.cols[0], function(key, val) {
					$("#c0 .l" + key).html(
						'<img src="assets/images/' + val.suit + val.value + '.gif"/>'
					);
				});

				$.each(game.cols[1], function(key, val) {
					$("#c1 .l" + key).html(
						'<img src="assets/images/' + val.suit + val.value + '.gif"/>'
					);
				});

				$.each(game.cols[2], function(key, val) {
					$("#c2 .l" + key).html(
						'<img src="assets/images/' + val.suit + val.value + '.gif"/>'
					);
				});

				$.each(game.cols[3], function(key, val) {
					$("#c3 .l" + key).html(
						'<img src="assets/images/' + val.suit + val.value + '.gif"/>'
					);
				});
			}

			// Calls ApplicationController.gameGet()
			$.getJSON("http://localhost:8080/game", function(data) {
				display(data);
				game = data;
			});
			$("#dealButton").click(function() {
				$.ajax({
					type: "POST",
					url: "/dealGame",
					data: JSON.stringify(game),
					success: function(data, status) {
						console.log("Data: " + data + "\nStatus: " + status);
						game = data;
						display(data);
					},
					contentType: "application/json; charset=utf-8",
					dataType: "json"
				});
			});

			function removeCard(colNumber) {
				$.ajax({
					type: "POST",
					url: "/removeCard/" + colNumber,
					data: JSON.stringify(game),
					success: function(data, status) {
						console.log("Data: " + data + "\nStatus: " + status);
						game = data;
						display(data);
					},
					contentType: "application/json; charset=utf-8",
					dataType: "json"
				});
			}

			$("#Remove1").click(function() {
				removeCard(0);
			});
			$("#Remove2").click(function() {
				removeCard(1);
			});
			$("#Remove3").click(function() {
				removeCard(2);
			});
			$("#Remove4").click(function() {
				removeCard(3);
			});

			$("#moveButton").click(function() {
				var colFrom = $("#from_col").val();
				var colTo = $("#to_col").val();
				$.ajax({
					type: "POST",
					url: "/moveCard/" + colFrom + "/" + colTo,
					data: JSON.stringify(game),
					success: function(data, status) {
						console.log("Data: " + data + "\nStatus: " + status);
						game = data;
						display(data);
					},
					contentType: "application/json; charset=utf-8",
					dataType: "json"
				});
			});
		</script>
		<!--<script src="/views/AcesUp/Aces.js"></script>-->
		<script
			type="text/javascript"
			src="/assets/webjars/jquery/2.1.3/jquery.js"
		></script>
		<script
			type="text/javascript"
			src="/assets/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
		></script>
	</body>
</html>
