<!--I merged the original AcesUp.flt.html with the defaultlayout.ftl.html file that was provided by the teacher. It had all
of the includes that we needed to implement bootstrap and such.-->
<!DOCTYPE html>
<html lang="en">
	<head></head>
		<link href="/assets/css/AcesUp.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Necessary Bootstrap and jquery includes -->
		<link
			href="/assets/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<script
			type="text/javascript"
			src="/assets/webjars/jquery/2.1.3/jquery.js"
		></script>
	</head>
	<body>
<!-- Our layout uses bootstrap to divide the elements into 6 2-unit length columns.  The deal and discard piles occupy the first column.
Each card pile gets its own separate column.  Also, originally, the card piles were organized into one large table with 4 columns.  In order to give each card pile its 
own bootstrap column, I had to break the table up into 4 smaller 1-column tables. The Restart, Undo, and Exit buttons all occupy the final bootstrap column.-->
		<div class="container">
			<div class="row">
				<!--The deal pile acts as a deal button as well.  When the user taps it or single clicks it, it deals 4 cards as long there are cards remaining in the deck.
				Both buttons were styled to remove the button border, so they were more uniform with the card piles. -->

				<div class="col-lg-2 col-md-2 col-sm-2">
					<button id="dealButton">
						<img src="/assets/images/backpuffingrass.png" />
					</button>
					<br />
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2">
							<table>
								<tr>
									<td class="columnOfCards" id="discardPile">
										<table>
											<tr>
												<td class="cardLocation l0" style="position: absolute; top: 0px;"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<!-- Each cell of the card pile columns is styled so that as the piles are built up during the course of the game, only the top portion of each card is
				displayed. -->

				<div class="col-lg-2 col-md-2 col-sm-2">
					<table>
						<tr>
							<td class="columnOfCards" id="c0">
								<table>
									<tr>
										<td class="cardLocation l0" draggable="true" style="position: absolute; top: 0px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l1" style="position: absolute; top: 20px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l2"style="position: absolute; top: 40px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l3"style="position: absolute; top: 60px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l4"style="position: absolute; top: 80px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l5"style="position: absolute; top: 100px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l6"style="position: absolute; top: 120px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l7"style="position: absolute; top: 140px;" ></td>
									</tr>
									<tr>
										<td class="cardLocation l8"style="position: absolute; top: 160px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l9"style="position: absolute; top: 180px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l10"style="position: absolute; top: 200px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l11"style="position: absolute; top: 220px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l12"style="position: absolute; top: 240px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l13"style="position: absolute; top: 260px;"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>

				<div class="col-lg-2 col-md-2 col-sm-2">
					<table>
						<tr>
							<td class="columnOfCards" id="c1" draggable="true">
								<table>
									<tr>
										<td class="cardLocation l0" style="position: absolute; top: 0px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l1" style="position: absolute; top: 20px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l2"style="position: absolute; top: 40px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l3"style="position: absolute; top: 60px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l4"style="position: absolute; top: 80px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l5"style="position: absolute; top: 100px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l6"style="position: absolute; top: 120px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l7"style="position: absolute; top: 140px;" ></td>
									</tr>
									<tr>
										<td class="cardLocation l8"style="position: absolute; top: 160px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l9"style="position: absolute; top: 180px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l10"style="position: absolute; top: 200px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l11"style="position: absolute; top: 220px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l12"style="position: absolute; top: 240px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l13"style="position: absolute; top: 260px;"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>

				<div class="col-lg-2 col-md-2 col-sm-2">
					<table>
						<tr>
							<td class="columnOfCards" id="c2" draggable="true">
								<table>
									<tr>
										<td class="cardLocation l0" style="position: absolute; top: 0px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l1" style="position: absolute; top: 20px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l2"style="position: absolute; top: 40px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l3"style="position: absolute; top: 60px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l4"style="position: absolute; top: 80px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l5"style="position: absolute; top: 100px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l6"style="position: absolute; top: 120px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l7"style="position: absolute; top: 140px;" ></td>
									</tr>
									<tr>
										<td class="cardLocation l8"style="position: absolute; top: 160px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l9"style="position: absolute; top: 180px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l10"style="position: absolute; top: 200px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l11"style="position: absolute; top: 220px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l12"style="position: absolute; top: 240px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l13"style="position: absolute; top: 260px;"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<table>
						<tr>
							<td class="columnOfCards" id="c3" draggable="true" >
								<table>
									<tr>
										<td class="cardLocation l0" style="position: absolute; top: 0px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l1" style="position: absolute; top: 20px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l2"style="position: absolute; top: 40px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l3"style="position: absolute; top: 60px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l4"style="position: absolute; top: 80px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l5"style="position: absolute; top: 100px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l6"style="position: absolute; top: 120px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l7"style="position: absolute; top: 140px;" ></td>
									</tr>
									<tr>
										<td class="cardLocation l8"style="position: absolute; top: 160px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l9"style="position: absolute; top: 180px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l10"style="position: absolute; top: 200px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l11"style="position: absolute; top: 220px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l12"style="position: absolute; top: 240px;"></td>
									</tr>
									<tr>
										<td class="cardLocation l13"style="position: absolute; top: 260px;"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<!--These buttons actually work now!  I replaced the Undo button with the rules button.  When clickd, this button brings up
			a pop-up window with text that explains the game rules.-->
				<div class="col-lg-2 col-md-2 col-sm-2">
					<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
					data-target="#myModal">Rules</button>


					<button type="restart" id="restartButton" class="btn btn-primary btn-lg btn-block">
						Restart
					</button>

					<a id="exitButton" class="btn btn-primary btn-lg btn-block" href="/endGame" role="button">Exit</a>
					
							<!-- Adds UI for moving to an empty column by manipulating the '#moveButton' function -->
					<div class = "text-center"><br>Move from column<input type="number" id="from_col"  min="0" max="3"/> to <input type="number" id="to_col" min="0" max="3" /></div> <button id="moveButton" class="btn btn-primary btn-lg btn-block">Move</button>
				</div>
			</div>
		</div>
		<!--I used the bootstrap modal feature to add a popup that contains text explaining the game rules. -->
	<div class="modal fade" id="myModal" tabindex="-1">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header modal-primary">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="text-center">
						<h4 class="modal-title">Ace's Up Rules</h4>
					</div>
				</div>
				<div class="modal-body">
					<ol>
						<li>Four cards in a row are dealt face up.</li>
						<li>If there are two or more cards of the same suit, discard all but the highest-ranked card of
							that suit.</li>
						<li>Repeat step 2 until there are no more pairs of cards with the same suit.</li>
						<li>Whenever there are any empty spaces, you may choose the top card of another pile (if it is
							an ace) to be put into the empty space. After you do this, go to Step 2.</li>
						<li>When there are no more cards to move or remove, deal out the next four cards from the deck
							face-up onto each pile.</li>
						<li>Repeat Step 2, using only the visible (top) cards on each of the four piles.</li>
						<li>When the last four cards have been dealt out and any moves made, the game is over. The fewer
							cards left in the tableau, the better. To win is to have only the four aces left.</li>
					</ol>
				</div>
			</div>

		</div>
	</div>
		<script>
			var game;

			function display(game) {
				console.log(game);

				$(".columnOfCards .cardLocation").html("");
        
				getDiscardImagePath(game);
        
				// I had to change these each functions so that they displayed the card images instead of values.  Ninja requires you to store all static assets in the
				// assets folder (which took a bit of research to find out; although it should have been obvious, I suppose).  Fortunately, I could still use the data
				// generated from our java code to pick the correct/appropriate cards.  I just had to mix it with string values that are eventually turned into HTML by jquery
				$.each(game.Cols[0].Cards, function(key, val) {
					$("#c0 .l" + key).html(
						'<img src="assets/images/' + val.suit + val.value + '.png"/>'
					);
				});

				$.each(game.Cols[1].Cards, function(key, val) {
					$("#c1 .l" + key).html(
						'<img src="assets/images/' + val.suit + val.value + '.png"/>'
					);
				});

				$.each(game.Cols[2].Cards, function(key, val) {
					$("#c2 .l" + key).html(
						'<img src="assets/images/' + val.suit + val.value + '.png"/>'
					);
				});

				$.each(game.Cols[3].Cards, function(key, val) {
					$("#c3 .l" + key).html(
						'<img src="assets/images/' + val.suit + val.value + '.png"/>'
					);
				});
			}

			// Calls ApplicationController.gameGet()
			$.getJSON("http://localhost:8080/game", function(data) {
				display(data);
				game = data;
			});
			$("#dealButton").click(function() {
				$.ajax({
					type: "POST",
					url: "/dealGame",
					data: JSON.stringify(game),
					success: function(data, status) {
						console.log("Data: " + data + "\nStatus: " + status);
						game = data;
						display(game);
					},
					contentType: "application/json; charset=utf-8",
					dataType: "json"
				});
			});

			function removeCard(colNumber) {
				$.ajax({
					type: "POST",
					url: "/removeCard/" + colNumber,
					data: JSON.stringify(game),
					success: function(data, status) {
						console.log("Data: " + data + "\nStatus: " + status);
						game = data;
						display(data);
					},
					contentType: "application/json; charset=utf-8",
					dataType: "json"
				});
			}

			//renders either the default card image or the top card in the discard pile
			function getDiscardImagePath(game) {

				//if discard pile is empty, use puffin
				if(game.DiscardPile.Cards.length == 0){
					$("#discardPile .l0").html(
						'<img src="/assets/images/backpuffingrass.png" />'
					);
				}
				else
				{
					var val = game.DiscardPile.Cards[game.DiscardPile.Cards.length - 1]; //get top card
					//render top card
					$('#discardPile .l0').html(
						'<img src="assets/images/' + val.suit + val.value + '.png"/>'
					);
				}
			}

			// Only minor alterations had to be made here to get cards to discard when clicked (just had to specify the column number).
			$('#c0').click(function() {
				removeCard(0);
			});
			$('#c1').click(function() {
				removeCard(1);
			});
			$('#c2').click(function() {
				removeCard(2);
			});
			$('#c3').click(function() {
				removeCard(3);
			});
						
			//Just reloads the page so it restarts the game
			$("#restartButton").click(function() {
				window.location.reload();
			});

			$("#moveButton").click(function() {
				var colFrom = $("#from_col").val();
				var colFromLength = game.Cols[colFrom].Cards.length
				var colTo = $("#to_col").val();
				//this if statement is in the front end rather than in the game class's move card function so that
				//we don't have to render a new game state with an alert. We can have the browser do it
				//if the top card is an ace, run the ajax call
				if(game.Cols[colFrom].Cards[colFromLength - 1].value == 14)
				{
				
					$.ajax({
						type: "POST",
						url: "/moveCard/" + colFrom + "/" + colTo,
						data: JSON.stringify(game),
						success: function(data, status) {
							console.log("Data: " + data + "\nStatus: " + status);
							game = data;
							display(data);
						},
						contentType: "application/json; charset=utf-8",
						dataType: "json"
					});
				}
				else
				{
					//display an alert telling the user that they can only move an Ace
					alert("You can only move Aces to empty piles");
				}
			});
		</script>

		<script
			type="text/javascript"
			src="/assets/webjars/jquery/2.1.3/jquery.js"
		></script>
		<script
			type="text/javascript"
			src="/assets/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
		></script>
	</body>
</html>
